@model IEnumerable<Challenge.MVC.Models.UsuarioEntity>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-primary fst-italic fw-bold ">Usuario</h1>

<p>
    <a class="btn btn-outline-success fw-bold" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Celular)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Celular)
            </td>
            <td>
                    <a class="btn btn-outline-warning fw-bold" asp-action="Edit" asp-route-id="@item.idUsuario">Edit</a> 
                    <a class="btn btn-outline-info fw-bold" asp-action="Details" asp-route-id="@item.idUsuario">Details</a> 
                    <a class="btn btn-outline-danger fw-bold" asp-action="Delete" asp-route-id="@item.idUsuario">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
