@model Challenge.MVC.Models.DentistaEntity

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DentistaEntity</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cepClinica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cepClinica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomeClinica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomeClinica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipoClinica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipoClinica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.alvaraFuncionamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.alvaraFuncionamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.siteRedesSocial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.siteRedesSocial)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="cpf_cnpj" />
        <input type="submit" value="Delete" class="btn btn-outline-danger fw-bold" /> |
        <a class="btn btn-outline-secondary fw-bold mt-3" asp-action="Index">Back to List</a>
    </form>
</div>
