@model Challenge.MVC.Models.DentistaEntity

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-primary fst-italic fw-bold ">Details</h1>

<div>
    <h4>DentistaEntity</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cepClinica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cepClinica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomeClinica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomeClinica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipoClinica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipoClinica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.alvaraFuncionamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.alvaraFuncionamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.siteRedesSocial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.siteRedesSocial)
        </dd>
    </dl>
</div>
<div>
    <a class ="btn btn-outline-warning fw-bold" asp-action="Edit" asp-route-id="@Model?.cpf_cnpj">Edit</a> |
    <a class="btn btn-outline-secondary fw-bold mt-3" asp-action="Index">Back to List</a>
</div>
