@model IEnumerable<Challenge.MVC.Models.DentistaEntity>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Dentista</h1>

<p>
    <a class="btn btn-outline-success fw-bold" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cepClinica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomeClinica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipoClinica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.alvaraFuncionamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.siteRedesSocial)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cepClinica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomeClinica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipoClinica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.alvaraFuncionamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.siteRedesSocial)
            </td>
            <td>
                    <a class="btn btn-outline-warning fw-bold" asp-action="Edit" asp-route-id="@item.cpf_cnpj">Edit</a> |
                    <a class="btn btn-outline-info fw-bold" asp-action="Details" asp-route-id="@item.cpf_cnpj">Details</a> |
                    <a class="btn btn-outline-danger fw-bold" asp-action="Delete" asp-route-id="@item.cpf_cnpj">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
